* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: white;
  margin: 0;
  padding: 0;
  color: #333;
}

nav {
  background-color: #ffffe5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav .logo a {
  font-size: 24px;
  font-weight: bold;
  color: #E46A00;
  text-decoration: none; /* 밑줄 제거 */
}

/* 검색창 css */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 550px;
  padding: 5px;
  border-radius: 30px;
}

.search-input {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  outline: none;
}

.search-button {
  background-color: #FFB366;
  width: 36px;
  height: 36px;
  color: white;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #ff9933;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.menu {
  display: flex;
  gap: 10px;
}

.menu a {
  color: #E46A00;
  text-decoration: none;
  margin-right: 10px;
}

.menu a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .search-container {
    order: 3;
    margin-top: 10px;
  }

  .hamburger {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
  }

  .menu.open {
    display: flex;
  }
}

/* 업로드 페이지 중앙 배치 및 디자인 */
.upload-container {
  background-color: white;
  padding: 20px;
  max-width: 500px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #F99B49;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.input-group input[type="text"],
.input-group input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.upload-button {
  width: 100%;
  padding: 10px;
  background-color: #F99B49;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.upload-button:hover {
  background-color: #FF7700;
}

/* 업로드된 비디오 리스트 스타일 */
h2 {
  text-align: center;
  margin-top: 30px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li h3 {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
}

li p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

/* 로그인 페이지 css */
.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-input-group {
  margin-bottom: 15px;
}

.login-input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
}

.login-button, .github-login-button, .kakao-login-button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #F99B49;
  color: #FFFFE5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #FF7700;
}

.github-login-button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #FFFFE5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.kakao-login-button {
  width: 100%;
  padding: 10px;
  background-color: #f7e600;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* 회원가입 페이지 css */
.signup-container {
  max-width: 400px;
  margin: 15px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.signup-input-group {
  margin-bottom: 15px;
}

.signup-input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.signup-input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #F99B49;
  color: #FFFFE5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #FF7700;
}

.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

.redirecting-message {
  margin-bottom: 16px;
  color: green;
  font-weight: bold;
}

/* 프로필 수정 페이지 스타일 */
.profile-edit-container {
  background-color: white;
  padding: 20px;
  max-width: 400px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.profile-edit-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #F99B49;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.input-group input[type="text"],
.input-group input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-group input[type="text"]:focus,
.input-group input[type="email"]:focus {
  border-color: #F99B49;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #F99B49;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.submit-button:hover {
  background-color: #FF7700;
}
